<div class="mt-1">
  <div class="flex flex-row justify-between items-center pl-3">
      <input type="text" placeholder="Search product or any order" class="w-[357px] h-[58px] bg-slate-100 rounded-[10px] text-neutral-400 text-[15px] font-normal font-['Quicksand']">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.625 13.75H14.6375L14.2875 13.4125C15.5125 11.9875 16.25 10.1375 16.25 8.125C16.25 3.6375 12.6125 0 8.125 0C3.6375 0 0 3.6375 0 8.125C0 12.6125 3.6375 16.25 8.125 16.25C10.1375 16.25 11.9875 15.5125 13.4125 14.2875L13.75 14.6375V15.625L20 21.8625L21.8625 20L15.625 13.75ZM8.125 13.75C5.0125 13.75 2.5 11.2375 2.5 8.125C2.5 5.0125 5.0125 2.5 8.125 2.5C11.2375 2.5 13.75 5.0125 13.75 8.125C13.75 11.2375 11.2375 13.75 8.125 13.75Z" fill="#89928E"/>
      </svg>
  </div>
  <div class="mt-5 flex flex-row">
    <div class="flex flex-col w-[70%] pl-5">
        <div class="h-[61vh] overflow-y-auto ">
            <div class="w-[203px] h-[214px] relative">
                <img class="w-[203px] h-[143px] left-0 top-0 absolute rounded-tl-[15px] rounded-tr-[15px] border border-gray-200" src="https://via.placeholder.com/203x143" />
                <div class="w-[203px] h-[71px] left-0 top-[143px] absolute">
                  <div class="w-[203px] h-[71px] left-0 top-0 absolute bg-zinc-200 rounded-bl-[15px] rounded-br-[15px] border border-gray-200"></div>
                  <div class="w-[178px] h-[53px] left-[11px] top-[8px] absolute flex-col justify-start items-start flex">
                    <div class="text-center text-black text-[17px] font-medium font-['Quicksand'] uppercase">summer salad</div>
                    <div class="w-[178px] h-[23px] relative">
                      <div class="left-0 top-[6px] absolute text-black text-xs font-medium font-['Quicksand'] uppercase">category:</div>
                      <div class="left-[123px] top-0 absolute justify-end items-center gap-3 inline-flex">
                        <div class="w-[23px] h-[23px] relative">
                          <div class="w-[23px] h-[23px] left-0 top-0 absolute bg-stone-500 rounded-full"></div>
                          <div class="left-[7px] top-[2px] absolute text-white text-sm font-semibold font-['Quicksand'] uppercase">n</div>
                        </div>
                        <div class="w-5 h-[17px] relative flex-col justify-start items-start inline-flex">
                          <div class="w-5 h-[17px] relative">
                            <div class="w-[19.94px] h-[11.67px] left-[-0px] top-[5.33px] absolute">
                            </div>
                            <div class="w-[4.45px] h-[8.27px] left-[15.55px] top-[-0px] absolute">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="px-[23px] py-[9px] left-[55px] top-[87px] absolute opacity-0 bg-orange-300 rounded-[7px] justify-center items-center inline-flex">
                  <div class="text-gray-900 text-[23px] font-medium font-['Quicksand'] uppercase">add</div>
                </div>
              </div>
            <div class="flex flex-wrap -mx-4 "*ngIf="activeCategory">
                
              <!-- Start of new product block -->
              <div class="w-1/4 px-4 mb-2 h-[20vh] mt-1 " *ngFor="let product of activeCategory.products">
                <div class="bg-gray-200 rounded-lg overflow-hidden shadow-md">
                  <div class=" h-[6vh] bg-cover bg-center relative" style="background-image: url('your-image-url.jpg')">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5 0C7.8344 0 0 7.8344 0 17.5C0 27.1656 7.8344 35 17.5 35C27.1656 35 35 27.1656 35 17.5C35 7.8344 27.1656 0 17.5 0ZM26.6 18.9H18.9V26.6C18.9 26.9713 18.7525 27.3274 18.4899 27.59C18.2274 27.8525 17.8713 28 17.5 28C17.1287 28 16.7726 27.8525 16.51 27.59C16.2475 27.3274 16.1 26.9713 16.1 26.6V18.9H8.4C8.0287 18.9 7.6726 18.7525 7.41005 18.4899C7.1475 18.2274 7 17.8713 7 17.5C7 17.1287 7.1475 16.7726 7.41005 16.51C7.6726 16.2475 8.0287 16.1 8.4 16.1H16.1V8.4C16.1 8.0287 16.2475 7.6726 16.51 7.41005C16.7726 7.1475 17.1287 7 17.5 7C17.8713 7 18.2274 7.1475 18.4899 7.41005C18.7525 7.6726 18.9 8.0287 18.9 8.4V16.1H26.6C26.9713 16.1 27.3274 16.2475 27.59 16.51C27.8525 16.7726 28 17.1287 28 17.5C28 17.8713 27.8525 18.2274 27.59 18.4899C27.3274 18.7525 26.9713 18.9 26.6 18.9Z" fill="#07FFD2"/>
                        </svg>                        
                </div>
                  <div class="p-4 bg-gray-300"> <!-- Added bg-gray-300 class for background color -->
                    <h3 class="text-lg font-semibold text-black">{{product.product_name}}</h3> <!-- Changed text color to black -->
                    <p class="text-sm text-gray-600 mb-1">{{activeCategory.category_name}}</p>
                  </div>
                </div>
                </div>
             </div>
            </div>
            <div class="h-[25vh] overflow-y-auto">
                <div class="flex flex-wrap -mx-4">
                  <!-- Start of new category block -->
                    <button *ngFor="let category of categories" (click)="setActiveCategory(category)"   class="w-1/4 ml-4 h-[6vh] px-11 py-[19px] bg-stone-700 rounded-[10px] justify-center items-center gap-2.5 mt-3 inline-flex">
                        <div class="text-slate-100 text-base font-medium font-['Quicksand'] uppercase">{{ category.category_name }}</div>
                      </button>
                  
                  <!-- End of new category block -->
                </div>
              </div>
              
              
    </div>
  </div>
      
</div>
