<div class="mt-1">
  <div class="flex flex-row justify-between items-center pl-3">
      <input type="text" placeholder="Search product or any order" class="w-[357px] h-[58px] bg-slate-100 rounded-[10px] text-neutral-400 text-[15px] font-normal font-['Quicksand']">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.625 13.75H14.6375L14.2875 13.4125C15.5125 11.9875 16.25 10.1375 16.25 8.125C16.25 3.6375 12.6125 0 8.125 0C3.6375 0 0 3.6375 0 8.125C0 12.6125 3.6375 16.25 8.125 16.25C10.1375 16.25 11.9875 15.5125 13.4125 14.2875L13.75 14.6375V15.625L20 21.8625L21.8625 20L15.625 13.75ZM8.125 13.75C5.0125 13.75 2.5 11.2375 2.5 8.125C2.5 5.0125 5.0125 2.5 8.125 2.5C11.2375 2.5 13.75 5.0125 13.75 8.125C13.75 11.2375 11.2375 13.75 8.125 13.75Z" fill="#89928E"/>
      </svg>
  </div>
  <div class="mt-5 flex flex-row">
    <div class="flex flex-col w-[70%] pl-5">
        <div class="h-[61vh] overflow-y-auto ">
            <div class="flex flex-wrap -mx-4 "*ngIf="activeCategory">
              <!-- Start of new product block -->
              <div class="w-1/4 px-4 mb-2 " *ngFor="let product of activeCategory.products">
                <div class="bg-gray-200 rounded-lg overflow-hidden shadow-md">
                  <div class="h-[10vh] bg-cover bg-center relative" style="background-image: url('your-image-url.jpg')">
                    <!-- You can add overlay content here -->
                  </div>
                  <div class="p-4 bg-gray-300"> <!-- Added bg-gray-300 class for background color -->
                    <h3 class="text-lg font-semibold text-black">{{product.product_name}}</h3> <!-- Changed text color to black -->
                    <p class="text-sm text-gray-600 mb-1">{{activeCategory.category_name}}</p>
                  </div>
                </div>
                </div>
             </div>
            </div>
            <div class="h-[25vh] overflow-y-auto">
                <div class="flex flex-wrap -mx-4">
                  <!-- Start of new category block -->
                    <button *ngFor="let category of categories" (click)="setActiveCategory(category)"   class="w-1/4 ml-4 h-[6vh] px-11 py-[19px] bg-stone-700 rounded-[10px] justify-center items-center gap-2.5 mt-3 inline-flex">
                        <div class="text-slate-100 text-base font-medium font-['Quicksand'] uppercase">{{ category.category_name }}</div>
                      </button>
                  
                  <!-- End of new category block -->
                </div>
              </div>
              
              
    </div>
  </div>
      
</div>
