<div class="mt-1">
 <div class="flex flex-row justify-between mr-4 ">
  <div class="flex flex-row justify-between items-center w-[30%] pl-3">
    
   <div class="flex flex-row bg-slate-100 items-center pl-3 rounded-lg">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.625 13.75H14.6375L14.2875 13.4125C15.5125 11.9875 16.25 10.1375 16.25 8.125C16.25 3.6375 12.6125 0 8.125 0C3.6375 0 0 3.6375 0 8.125C0 12.6125 3.6375 16.25 8.125 16.25C10.1375 16.25 11.9875 15.5125 13.4125 14.2875L13.75 14.6375V15.625L20 21.8625L21.8625 20L15.625 13.75ZM8.125 13.75C5.0125 13.75 2.5 11.2375 2.5 8.125C2.5 5.0125 5.0125 2.5 8.125 2.5C11.2375 2.5 13.75 5.0125 13.75 8.125C13.75 11.2375 11.2375 13.75 8.125 13.75Z" fill="#89928E"/>
  </svg>
    <input type="text" placeholder="Search product or any order" (input)="onInputChange()" [(ngModel)]="query" class="w-[357px] h-[58px] bg-slate-100 rounded-[10px] text-neutral-400 text-[15px] font-normal font-['Quicksand'] p-3">
    
   </div>
</div>
<div class="flex flex-row justify-between items-center w-[30%]">
  <h1 >Table</h1>
  <button routerLink="/admin/tables" class="bg-blue-200">Select Table</button>
</div>
 </div>
 <div class="flex flex-row  ">
  <div class="mt-5 flex flex-row w-[70%]">
    <div class="flex flex-col  pl-5">
        <div class="h-[61vh] overflow-y-auto ">
            <div class="flex flex-wrap -mx-4 "*ngIf="activeCategory">
                
              <!-- Start of new product block -->
              <div class="w-1/4 px-4 mb-2 h-[20vh] mt-1 " *ngFor="let product of (!query ?  activeCategory.products : filteredProducts )">
                <div class="bg-gray-200 rounded-lg overflow-hidden  shadow-md ">
                  <div class="flex flex-row justify-evenly">
                    <button (click)="decrementItem(product)" class=" h-[6vh] bg-cover bg-center relative" style="background-image: url('your-image-url.jpg')">
                      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M17.5 0C7.8344 0 0 7.8344 0 17.5C0 27.1656 7.8344 35 17.5 35C27.1656 35 35 27.1656 35 17.5C35 7.8344 27.1656 0 17.5 0ZM26.6 18.9H18.9V26.6C18.9 26.9713 18.7525 27.3274 18.4899 27.59C18.2274 27.8525 17.8713 28 17.5 28C17.1287 28 16.7726 27.8525 16.51 27.59C16.2475 27.3274 16.1 26.9713 16.1 26.6V18.9H8.4C8.0287 18.9 7.6726 18.7525 7.41005 18.4899C7.1475 18.2274 7 17.8713 7 17.5C7 17.1287 7.1475 16.7726 7.41005 16.51C7.6726 16.2475 8.0287 16.1 8.4 16.1H16.1V8.4C16.1 8.0287 16.2475 7.6726 16.51 7.41005C16.7726 7.1475 17.1287 7 17.5 7C17.8713 7 18.2274 7.1475 18.4899 7.41005C18.7525 7.6726 18.9 8.0287 18.9 8.4V16.1H26.6C26.9713 16.1 27.3274 16.2475 27.59 16.51C27.8525 16.7726 28 17.1287 28 17.5C28 17.8713 27.8525 18.2274 27.59 18.4899C27.3274 18.7525 26.9713 18.9 26.6 18.9Z" fill="#07FFD2"/>
                          </svg>                        
                  </button>
                    <button (click)="incrementItem(product)" class=" h-[6vh] bg-cover bg-center relative" style="background-image: url('your-image-url.jpg')">
                      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M17.5 0C7.8344 0 0 7.8344 0 17.5C0 27.1656 7.8344 35 17.5 35C27.1656 35 35 27.1656 35 17.5C35 7.8344 27.1656 0 17.5 0ZM26.6 18.9H18.9V26.6C18.9 26.9713 18.7525 27.3274 18.4899 27.59C18.2274 27.8525 17.8713 28 17.5 28C17.1287 28 16.7726 27.8525 16.51 27.59C16.2475 27.3274 16.1 26.9713 16.1 26.6V18.9H8.4C8.0287 18.9 7.6726 18.7525 7.41005 18.4899C7.1475 18.2274 7 17.8713 7 17.5C7 17.1287 7.1475 16.7726 7.41005 16.51C7.6726 16.2475 8.0287 16.1 8.4 16.1H16.1V8.4C16.1 8.0287 16.2475 7.6726 16.51 7.41005C16.7726 7.1475 17.1287 7 17.5 7C17.8713 7 18.2274 7.1475 18.4899 7.41005C18.7525 7.6726 18.9 8.0287 18.9 8.4V16.1H26.6C26.9713 16.1 27.3274 16.2475 27.59 16.51C27.8525 16.7726 28 17.1287 28 17.5C28 17.8713 27.8525 18.2274 27.59 18.4899C27.3274 18.7525 26.9713 18.9 26.6 18.9Z" fill="#07FFD2"/>
                          </svg>                        
                  </button>
                  </div>
                 <div>
                   <div class="p-4 bg-gray-300"> <!-- Added bg-gray-300 class for background color -->
                    <h3 class="text-lg font-semibold text-black">{{product.product_name}}</h3> <!-- Changed text color to black -->
                    <p class="text-sm text-gray-600 mb-1">{{activeCategory.category_name}}</p>
                    <h6 class="text-sm font-semibold text-black">Ksh.{{product.product_price}}</h6> 
                  </div>
                 </div>
                </div>
                </div>
             </div>
             <div>
              
             </div>
            </div>
            <div class="h-[25vh] overflow-y-auto">
                <div class="flex flex-wrap -mx-4">
                  <!-- Start of new category block -->
                    <button *ngFor="let category of categories" (click)="setActiveCategory(category)"   class="w-1/4 ml-4 h-[6vh] px-11 py-[19px] bg-stone-700 rounded-[10px] justify-center items-center gap-2.5 mt-3 inline-flex">
                        <div class="text-slate-100 text-base font-medium font-['Quicksand'] uppercase">{{ category.category_name }}</div>
                      </button>
                  
                  <!-- End of new category block -->
                </div>
              </div>
              
              
    </div>
  </div>
  <div class="flex flex-col w-[30%] ml-5 bg-white h-[91vh]">
    <div>
      <div class="flex flex-row justify-between items-center pl-3 pr-3 mt-3 text-black">
        <h1>Order#</h1>
        <h1>84848</h1>
      </div>
      <div class="flex flex-row justify-between items-center pl-3  pr-3 text-black">
        <h1>Guests 2</h1>
        <h1>Table 1</h1>
      </div>
    </div>
    <div class=" h-[50vh] overflow-y-auto">
      <div *ngIf="selectedProducts && selectedProducts.length > 0" >
        <div *ngFor="let product of selectedProducts; let ndx = index;"  class="flex flex-row bg-gray-300 justify-between rounded-lg px-3 py-3 mt-3">
          <div class="flex flex-col justify-center items-center">
            <h1>{{ product.product_name }}</h1>
            <h1>{{product.product_price}}</h1>
          </div>
          <div class="flex flex-col justify-center items-center">
            <h1>Quantity</h1>
            <h1>{{product.selectedItems}}</h1>
          </div>
      </div>
     
      </div>
      <div *ngIf="selectedProducts && selectedProducts.length <= 0" class="flex justify-center items-center">
        <h1 class="items-center text-black">No selected Items</h1>
      </div>
    </div>
    <div class="flex flex-col gap-6 h-[40vh] bg-gray-100 rounded-lg mt-3">
      <div class="flex flex-row justify-between items-center pl-3 pr-3 text-black">
        <h1>SubTotal</h1>
        <h1> Ksh. {{ (calculateTotalPrice() * 0.84).toFixed(2) }}</h1>
      </div>
      <div class="flex flex-row justify-between items-center pl-3 pr-3 text-black">
        <h1>Vat Charge 16%</h1>
        <h1> Ksh. {{ (calculateTotalPrice() * 0.16).toFixed(2) }}</h1>
      </div>
      <div class="flex flex-row justify-between items-center pl-3 pr-3 text-black">
        <h1>TOTAL</h1>
        <h1>Ksh  Ksh. {{ (calculateTotalPrice() ).toFixed(2) }}</h1>
      </div>
      <div class="flex flex-row justify-between items-center pl-3 pr-3 text-black">
        <button class="h-10 bg-red-500 w-[40%]  items-center rounded-lg hover:bg-rose-500">Cancel</button>
        <button (click)="postSelectedItemsToBackend()" class="h-10 bg-blue-200 w-[40%]  items-center rounded-lg hover:bg-blue-500">Place Order</button>
      </div>
     

    </div>

  </div>
 </div>
      
</div>
