<div id="category-form">
    <h2><b><i>Add Category</i></b></h2>
    <label for="category-name">Category Name:</label>
    <input type="text" id="category-name" placeholder="Enter category name" required>
  
    <label for="category-icon">Icon:</label>
    <input type="file" id="category-icon" accept="image/*" required>
  
    <label for="category-description">Category Description:</label>
    <textarea id="category-description" placeholder="Enter category description" required></textarea>
  
    <button onclick="addCategory()">Add Category</button>
  </div>
  